redis
sqlalchemy
psycopg2
postgres
gunicorn
gevent
Authlib
pathlib2
sqlalchemy-trino
setuptools
Flask-Talisman
PyDynamoDB
mysqlclient
pymssql
psutil
elastic-apm[flask]
prometheus-flask-exporter
pybigquery
statsd
statsd-client
Flask-JWT-Extended
Flask-AppBuilder
pandas
PyJWT
tableschema
Flask-OAuthlib 
Flask-Login 
Flask-Security
python-jose
